<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>

    <div class="container">

                <!-- Nav bar -->
                

                <%- include('./partials/nav.ejs') %>

                

<!-- Card begins -->
<div class="row row-col-3 mb-5">
                <div class="col-sm-4 col-md-4 col-lg-4 bg-primary">
                  <div class="card">
                    <div style="height: 500px;" >
                    <div class="card-body">
                      <h5 class="card-title">What's on your mind?</h5>
                      <p class="card-text"><div class="create-blog content">
                        <form action="/add-blog" method="POST">
                            <label for="title">Title your thought</label>
                            <input type="text" id="title" name= "title" placeholder="Give your thought a title" required>
                            <label for="snippet">Snippet</label>
                            <input type="text" id="snippet" name="snippet" placeholder="Google bot loves it" required>
                            <label for="body">Share your thoughts</label>
                            <textarea id="body" name="body" placeholder="Share what's on your mind at the moment..." prequired></textarea>
                            <button>Share now</button>
                        </form>
                        </div></p>
                        </div>
                    </div>
                  </div>
                </div>

                <!-- Blog post go here  -->

                <div class="col-sm-4 col-md-4 col-lg-4 bg-dark">
                  <div class="card">
                    <div class="overflow-auto" style="height: 500px;" >
                    <div class="card-body">
                      <h5 class="card-title">Here is what others wrote about.</h5>
                      
                      <p class="card-text">
                        <%if (blogs.length > 0) {%>
                           <%blogs.map((value)=>{%>
                     
                  <div class="card bg-primary"><h3> <%-value.title%> </h3></div>
                  <div class="card bg-dark text-white"><h6><%-value.snippet%></h6></div>
                                              <%-value.body%>
                  <p class="card-text"><small class="text-muted">Posted on <%-value.createdAt%></small></p>
                
                <%})%>
                <%}else {%>
                   <h3>No blog to display</h3>
                <%}%></p>
                    </div>
                  </div>
                </div>
                </div>

                <!-- Third Coloumn -->

                <div class="col-sm-4 col-md-4 col-lg-4 bg-primary" >
                    <div class="card">
                        <div class="overflow-auto" style="height: 500px;">
                        <img src="/assets/mobile-phone-g80a3680e3_640.jpg" class="card-img-top" alt="mobile phone">
                        <h4 class="card-header bg-primary">Responsive and Native to Mobile</h4>
                        <p class="card-text">This is a little journey made to bring the world together. This project is still
                            at a better stage, text or looks may change at future visits. Feel free to try it out.</p><br>

                            <p>Rememeber, if you don't talk about it, it stays in your mind. Go ahead, share it. It's anonymous afterall.
                        </p>
                    
                      </div>
                    </div>
                  </div>
                </div>

               


                 <!-- Test Row -->

                 
                    <div class="row  p-100">
                    
                      <!-- Column -->
                      <div class="col-md-4 mb-4 d-flex align-items-stretch">
                    
                        <!--Card-->
                        <div class="card">
                    
                          <!--Card image-->
                          <div class="view overlay">
                            <img src="/assets/keyboard-g39d171f92_640.jpg" class="card-img-top"
                              alt="">
                            <a href="#">
                              <div class="mask rgba-white-slight"></div>
                            </a>
                          </div>
                    
                          <!--Card content-->
                          <div class="card-body bg-success">
                            <!--Title-->
                            <h4 class="card-title">Wait no more</h4>
                            <!--Text-->
                            <p class="card-text">The Future is almost here.</p>
                          </div>
                    
                        </div>
                        <!--/.Card1 ends-->
                    
                      </div>
                      <!-- Column 1 ends -->


                

                <!-- Sub Column 2 begins-->


    <!-- Column -->
    <div class="col-md-4 mb-4 d-flex align-items-stretch">
  
      <!--Card-->
      <div class="card">
  
        <!--Card image-->
        <div class="view overlay">
          <img src="/assets/universe-g7f48063f6_640.jpg" class="card-img-top"
            alt="universe">
          <a href="#">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Card content-->
        <div class="card-body bg-info">
          <!--Title-->
          <h4 class="card-title">Electrifying Designs</h4>
          <!--Text-->
          <p class="card-text">Busy coding some of the best applications for the world.</p>
        </div>
  
      </div>
      <!--/.Card-->
  
    </div>
    <!-- Column -->
                    

                    <!-- Sub Column 3 begins -->

                    
                        <!-- Column -->
    <div class="col-md-4 mb-4 d-flex align-items-stretch">
  
        <!--Card-->
        <div class="card">
    
          <!--Card image-->
          <div class="view overlay">
            <img src="/assets/keyboard-g39d171f92_640.jpg" class="card-img-top"
              alt="keyboard">
            <a href="#">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
    
          <!--Card content-->
          <div class="card-body bg-primary">
            <!--Title-->
            <h4 class="card-title">Restful Applications</h4>
            <!--Text-->
            <p class="card-text">My brand name is Afrocoder and I make applications that actually work.</p>
          </div>
    
        </div>
        <!--/.Card-->
    
      </div>
      <!-- Column -->

                


              </div>
</div>

    
        
        
    

    

      <div class="col-sm-12 col-md-12 col-lg-12"> <%- include('./partials/footer.ejs') %></div>


    
</body>
</html>














